<% provide(:title, "#{@article.title} Edit") %>

<%= form_for @article do |f| %>
  <div class="form-group">
    <%= render 'form', f: f %>
    <%= f.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

