@import "bootstrap";
$article-content-height: 400px;
$monospace-font: Osaka-mono, "MS Gothic", monospace;

/* Home */
.center {
  text-align: center;
}

/* Article */
.article-content {
  textarea {
    font-family: $monospace-font;
    height: $article-content-height;
    overflow: auto;
  }

  .formated {
    font-family: $monospace-font;
    height: $article-content-height;
    overflow: auto;
  }
}
