@import "bootstrap";
$article-content-height: 400px;

/* Home */
.center {
  text-align: center;
}

/* Article */
.article-content {
  textarea {
    height: $article-content-height;
    overflow: auto;
  }

  .formated {
    height: $article-content-height;
    overflow: auto;
  }
}
