      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to root_path do %>
                  <p class="glyphicon glyphicon-home"> Home</p>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
